.container {
    height: 100%;
    width:100%;
    text-align: center;
    font-size: large;
    text-shadow: 2px 2px black;
    color: #fff;
    background-image: url("/background.jpeg");
    background-repeat: no-repeat;
   background-size: contain;
   border: 1px solid white;
   border-radius: 20px;
}