.main{
    display: flex;
    padding: 1rem 0;
    margin-bottom: 0;
    flex: 1;
   border-top: 1px solid #a770b3;
   justify-content: space-around;
   align-items: center;
   color: #fff;
   list-style-type: none;
   background-color: #ea339e;
}