@tailwind base;
@tailwind components;
@tailwind utilities;


.fade-anim img {
    animation: fadeAnim 0.5s ease-out;
  }
  @keyframes fadeAnim {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  html,
  body,
  body > div:first-child,
  div#_next,
  div#_next > div {
    height: 100vh;
  }